body {
  margin-top: -24px;
}

.img-fluid {
  margin-top: 15px;
}
.display-3 {
  padding-top: 80px;
  color: #ccdae2;
}

footer {
  background-color: white;
}

@media screen and (min-width: 480px){
  .pad {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 157px;
  font-size: 14px;
}

p{
    margin-top: 0;
    /* margin-bottom:1rem; */
}
p.pad1 {
    margin-right: 250px;
    margin-bottom: 0px;
    font-size: 15px;
}
p.pad2{
  margin-top: 0px;
  margin-right: 246px;
  font-size: 15px;
}
.detail{
  text-transform: uppercase;
  margin-right: 176px;
}
}
@media (min-width: 576px) {
  h1 {
    font-size: 18px;
    font-weight: bold;
  }
  p{
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
    font-weight: bold;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 28px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 26px;
    font-weight: bold;
  }
}

.carousel-inner img {
  width: 100%;
  height: 600px;
}
.line {
  border-right: 2px solid black;
}
#navbarMenu {
  height: 50px;
}

/** CSS Overdrive **/

h1.p-3.ml-auto {
  text-align: center;
  margin-top: 30px;
  font-size: -webkit-xxx-large;
}
footer.page-footer.font-small.blue.pt-4 {
    background-color: #b5e47c;
}
footer.table {
  background-color:#cce47c;
  margin-top: 50px;
}
footer.page-footer.font-small.blue.pt-4 {
    background-color: #b5e47c;
    margin-top: 75px;
}

.Main {
  background-color: #e6e6e6;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 60px 1px -42px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.m-icon {
    margin-left: 120px;
}
.pad {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 157px;
  font-size: 14px;
}

p{
    margin-top: 0;
    /* margin-bottom:1rem; */
}
p.pad1 {
    margin-right: 250px;
    margin-bottom: 0px;
    font-size: 15px;
}
p.pad2{
  margin-top: 0px;
  margin-right: 246px;
  font-size: 15px;
}
.detail{
  text-transform: uppercase;
  margin-right: 176px;
}
div#Container-M .row.row-cols-2 {
    width: 100%;
    padding: 5px;
}

.col-md-6.mb-md-0.mb-3 {
  text-align: right;
  margin-top: 10px;
  padding-right: 40px;
}

.main{
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
h2 span{
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}
 
.footer-copyright.text-center.py-3 {
    color: brown;
}

div#sfcqbkzf11pca8lecd9qdxha9bsg3u1fd44 {
     margin-left: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
  }

  h4.txt{
       padding-right: 190px;
}


  /** Gmap**/
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-top: -10px;
}
.map-responsive iframe {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

//* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float:inherit;
  width: 34%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.col{
    padding-left: 0px;
    padding-right: 0px;
}